<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.ni51029" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lukasz 51029</name>
    <description>Weather App</description>
     <author email="ni00000@zut.edu.pl" href="https://www.wi.zut.edu.pl">
     Łukasz Kuś
     </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="electron">
    <icon src="res/electron/icon.png" />
    <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
</platform>
</widget>
